##
## <p>Copyright (c) 2016, Authors</p>
##
## <p>Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at</p>
##
## <p>http://www.apache.org/licenses/LICENSE-2.0</p>
##
## <p>Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.</p>
##

<div class="aui-message aui-message-success">
    <p class="title">
        <strong>Project configuration saved successfully!</strong>
    </p>
    <p>
        <div class="field-group">
            <span class="description">Gitlab Host: $textutils.htmlEncode(${gitlabHost})</span>
        </div>
        <div class="field-group">
            <span class="description">Gitlab Project Name: $textutils.htmlEncode(${gitlabProjectName})</span>
        </div>
        <div class="field-group">
            <span class="description">Gitlab Client id: $textutils.htmlEncode(${clientId})</span>
        </div>
        <div class="field-group">
            <span class="description">Gitlab Secret: $textutils.htmlEncode(${clientSecretToken})</span>
        </div>
    </p>
</div>

<div class="buttons-container gitintegration">
    <div class="buttons">
        <a class="aui-button" href="${req.contextPath}/plugins/servlet/project-config/$!{project.key}">
            <span class="aui-icon aui-icon-small aui-iconfont-approve">Ok</span>
            Back
        </a>
        <a class="aui-button" href="${req.contextPath}/secure/JiraSectionAction!default.jspa?projectId=$!{project.id}">
            <span class="aui-icon aui-icon-small aui-iconfont-bp-troubleshooting">Edit configuration</span>
            Edit config
        </a>
    </div>
</div>