##
## <p>Copyright (c) 2016, Authors
## Project:  gitlab-integration.</p>
##
## <p>Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at</p>
##
## <p>http://www.apache.org/licenses/LICENSE-2.0</p>
##
## <p>Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.</p>
##


<p>This is an error page for webwork section Jira-Gitlab.</p>

<p>
The value from the action-client_id: ${clientId}
</p>
<p>
The value from the action-client_secret: ${clientSecretToken}
</p>
<p>
The value from the action-gitlablink: ${gitlabHost}
</p>
<p>
The value from the action-gitlabProjectName: ${gitlabProjectName}
</p>
<p>
Or display the details of the error(s):
</p>

## Error messages are per action, errors are per field
<table>
  #foreach ($error in $action.getErrorMessages())
  <tr>
    <td>${error}</td>
  </tr>
  #end
</table>
<table>
  #foreach ($error in $action.errors)
  <tr>
    <td>${error}</td>
  </tr>
  #end
</table>

<p>
In many pages, the errors are displayed as part of the controlheader macro.
See macros.vm for more examples of displaying errors
</p>