##
## <p>Copyright (c) 2016, Authors
## Project:  gitlab-integration.</p>
##
## <p>Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at</p>
##
## <p>http://www.apache.org/licenses/LICENSE-2.0</p>
##
## <p>Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.</p>
##
<div class="aui-message aui-message-error">
    <p>Jira-Gitlab: Error occurred</p>
    <br/>
    <p>Failed to save project!</p>
    <br/>
    <p>The value from the client id: ${clientId}</p>
    <p>The value from the action-client_secret: ${clientSecretToken}</p>
    <p>The value from the action-gitlablink: ${gitlabHost}</p>
    <p>The value from the action-gitlabProjectName: ${gitlabProjectName}</p>
    <br/>
    <p>Error(s) details:</p>

    ## Error messages are per action, errors are per field
    <table>
      #foreach ($error in $action.getErrorMessages())
      <tr>
        <td>${error}</td>
      </tr>
      #end
    </table>
    <table>
      #foreach ($error in $action.errors)
      <tr>
        <td>${error}</td>
      </tr>
      #end
    </table>
</div>
<div class="buttons-container gitintegration">
    <div class="buttons">
        <a class="aui-button" href="${req.contextPath}/plugins/servlet/project-config/$!{project.key}">
            <span class="aui-icon aui-icon-small icon-error aui-iconfont-remove">Back</span>
            Back
        </a>
        <a class="aui-button" href="${req.contextPath}/secure/JiraSectionAction!default.jspa?projectId=$!{project.id}">
            <span class="aui-icon aui-icon-small aui-iconfont-bp-troubleshooting">Edit configuration</span>
            Edit config
        </a>
    </div>
</div>