##
## <p>Copyright (c) 2016, Authors</p>
##
## <p>Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at</p>
##
## <p>http://www.apache.org/licenses/LICENSE-2.0</p>
##
## <p>Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.</p>
##

<html>
  <head>
    <title>JiraSectionAction Input</title>
  </head>
  
  <body>

    <div style="background: #FFFFFF">
      <table class="jiraform maxWidth">
        <tr>
          <td class="jiraformheader">
            <h3 class="formtitle">JiraSectionAction Input</h3>
          </td>
        </tr>
        <tr>
          <td class="jiraformbody">
          This page is responsible for a section with configuration of Jira-Gitlab plugin.
          </td>
        </tr>   
      </table>  
      <br>      

      <!-- The ActionAlpha doValidation method and then doExecute
           method will be called -->
      <form id="uniqueid1" method="post" action="${req.contextPath}/secure/JiraSectionAction.jspa">
              
      <!-- Note: velocity variables in HTML comments are still
           evaluated. If you want to comment out velocity code, use
           velocity comments. -->
      
        <table class="grid" border="0">
          
	  <tr>
	    <td align="fieldLabelArea">
              ClientId:&nbsp;
            </td>
	    <td class="fieldValueArea">
              ## Note: ${client_id} is the same as $action.getClient_id()
              ## It's important to encode the inputs to avoid XSS hacks
              ## JSP does this for you but Velocity templates don't.
              <input type="text"
                     id="clientId"
                     name="clientId"
                     value="$textutils.htmlEncode(${clientId})"
                     size="60"
                     />
              <br>
              <font size="1">An example of a text parameter.</font> 
	    </td>
        <td align="fieldLabelArea">
              ClientSecret:&nbsp;
            </td>

	    <td class="fieldValueArea">
              <input type="text"
                     id="clientSecret"
                     name="clientSecret"
                     value="$textutils.htmlEncode(${clientSecret})"
                     size="60"
                     />
              <br>
              <font size="1">An example of a text parameter.</font>
	    </td>
        <td align="fieldLabelArea">
              GtilabLink:&nbsp;
            </td>

	    <td class="fieldValueArea">
              <input type="text"
                     id="gitlabLink"
                     name="gitlabLink"
                     value="$textutils.htmlEncode(${gitlabLink})"
                     size="60"
                     />
              <br>
              <font size="1">An example of a text parameter.</font>
	    </td>
	    <td align="fieldLabelArea">
                      GitlabProjectName:&nbsp;
                    </td>

        	    <td class="fieldValueArea">
                      <input type="text"
                             id="gitlabProjectName"
                             name="gitlabProjectName"
                             value="$textutils.htmlEncode(${gitlabProjectName})"
                             size="60"
                             />
                      <br>
                      <font size="1">An example of a text parameter.</font>
        	    </td>

	  </tr>
          <tr>
            <td class="fullyCentered jiraformfooter">
	      <input type="submit" name="Submit" id="Submit" value="Next&nbsp;&gt;&gt;"
                     accesskey="S"
                     title="Press Ctrl+S to submit form"
                     class="spaced"
                     $action.doValidation()
                     $action.doDefault()
                     />
            </td>
            <td class="fullyCentered jiraformfooter">
              <input type="hidden" name="cancelUrl" value="${req.contextPath}/secure/Dashboard.jspa"/>
	      <input type="submit" name="Cancel" id="Cancel" value="Cancel"
                     accesskey="`"
                     title="Press Alt+` to cancel form"
                     class="spaced"
                     />
            </td>
          </tr>

        </table>

      </form>

      ## If an input view exists for an action, then the input view
      ## rather than an error view is used

      #if (${hasErrorMessages})
      <table>
        <tr>
          <td>Error Messages</td>
        </tr>
        #foreach ($error in $action.getErrorMessages())
        <tr>
          <td>${error}</td>
        </tr>
        #end    
      </table>
      #end
  
    </div>
    
  </body>
</html>