##
## <p>Copyright (c) 2016, Authors
## Project:  gitlab-integration.</p>
##
## <p>Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at</p>
##
## <p>http://www.apache.org/licenses/LICENSE-2.0</p>
##
## <p>Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.</p>
##


<html>
  <head>
    <title>JiraSectionAction Success</title>
  </head>
  <body>
    <div style="background: #FFFFFF">
      <table class="jiraform maxWidth">
        <tr>
          <td class="jiraformheader">
            <h3 class="formtitle">JiraSectionAction Success</h3>
          </td>
        </tr>
        <tr>
          <td class="jiraformbody">
          This page shows current settings for Jira-Gitlab plugin.
          </td>
        </tr>   

        <tr>
          <td class="jiraformbody">
          The current parameter value of clientId is: $action.getClientId().
          </td>
          <td class="jiraformbody">
          The current parameter value of clientSecret is: $action.getClientSecret().
          </td>
          <td class="jiraformbody">
          The current parameter value of gitlabLink is: $action.getGitlabLink().
          </td>
        </tr>   
      </table>
  </body>
</html>