<html>
  <head>
    <title>JiraSectionAction Success</title>
  </head>
  <body>
    <div style="background: #FFFFFF">
      <table class="jiraform maxWidth">
        <tr>
          <td class="jiraformheader">
            <h3 class="formtitle">JiraSectionAction Success</h3>
          </td>
        </tr>
        <tr>
          <td class="jiraformbody">
          This page shows current settings for Jira-Gitlab plugin.
          </td>
        </tr>   

        <tr>
          <td class="jiraformbody">
          The current parameter value of clientId is: $action.getClientId().
          </td>
          <td class="jiraformbody">
          The current parameter value of clientSecret is: $action.getClientSecret().
          </td>
          <td class="jiraformbody">
          The current parameter value of gitlabLink is: $action.getGitlabLink().
          </td>
        </tr>   
      </table>
  </body>
</html>