<html>
  <head>
    <title>JiraSectionAction Success</title>
  </head>
  
  <body>

    <div style="background: #FFFFFF">
      <table class="jiraform maxWidth">
        <tr>
          <td class="jiraformheader">
            <h3 class="formtitle">JiraSectionAction Success</h3>
          </td>
        </tr>
        <tr>
          <td class="jiraformbody">
          This page is what the JiraSectionAction action class shows when success is returned.
          </td>
        </tr>   

        <tr>
          <td class="jiraformbody">
          The raw current parameter value of clientId is: $action.getClientId().
          </td>
          <td class="jiraformbody">
          The raw current parameter value of clientSecret is: $action.getClientSecret().
          </td>
          <td class="jiraformbody">
          The raw current parameter value of gitlabLink is: $action.getGitlabLink().
          </td>
        </tr>   
      </table>  
      <br>      

  </body>
</html>